.main{
    margin: 0;
    padding: 0;
}
.save-ul{
    height: 300px;  
    width: 500px;
    margin-left: 20px;
    border: 1px solid black;
}
.save-head{
    height: 300px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 20px;
}